# API 키
.env

# 가상환경
.venv/

# Python
__pycache__/
*.pyc

# 데이터 & 산출물
data/
!data/**/.gitkeep
outputs/
!outputs/**/.gitkeep

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# 실험용
experiments

# 논문 작업
THESIS/

# 로컬 데이터
modeling/data/

# 개인 작업 폴더
dhsong/
data_raw/
data_processed/
